.header{
    background-color: rgb(117, 76, 5);
    height: 10vh;
    
   
    
    
   
}
.nav{
    display: flex;
    
    
}

.logo{
    margin-left: 2%;
    flex-grow: 1;
}

.art{
    margin-top: 20px;
    margin-right:20px ;
    
}

.articles{
    text-decoration: none;
    margin-right: 10px;
    font-weight: 800px;
    font-size: larger;
    margin-left: 4%;
    

    
}

.articles:hover{
    color: blue;
}