.main{
    background-image: url(./assets/bg.jpg) ;
    background-size: cover;
    /* height: 100vh;
    margin: 0 !important;
    padding: 0; */
}

/* .paperStyle{
    padding:'50px 30px';
   width: 50%;
    margin-top: 50px;
    margin-left: 400px;
} */

body{
    background-image: url(./assets/bg.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;

}

.MuiFormHelperText-root{
    color: Red !important;
    /* font-size: 1rem !important; */
  }
