:root{
    --webkit-shadow: -2px 2px 15px -10px rgba(0, 0, 0, 2);
     --box-shadow: -2px 2px 15px -10px rgba(0, 0, 0, 2);
    --backCard-color:  rgba(49, 48, 48, 0.459);
    --text-color:rgb(228, 224, 224);
    --back-color:rgb(36, 35, 35);
    --text-light:rgb(161, 155, 155);
 }

 .pageContainer{
    background-image: url(../../assets/images/jpg/bg4.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
 }
 
 body{
    
     color: var(--text-color);
     font-family: 'Barlow', sans-serif;
 }
 .container{
     display: flex;
     margin-top: 70px;
     padding-top: 50px;
 }
 
 
 .link{
     text-decoration: none;
     color: inherit;
 }
